* {
  box-sizing: border-box;
}
:root {
  --font-heading: "sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-style: 62.5%;
}
body {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 40px);
}
a {
  text-decoration: none;
}
.header {
  background: #fffcf4;
}
.btn {
  display: inline-block;
  background: black;
  min-width: 50px;
  line-height: 50px;
  border-radius: 999px;
  text-align: center;
  padding: 0px 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  padding: 30px 0px 8px;
  align-items: center;
  display: flex;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: rgba(0, 0, 0, 0.411);
  font-size: 1.2rem;
  padding: 8px 21px;
}

.nav a:hover {
  color: black;
  text-shadow: 1px 0px 0px currentColor;
}
.nav li.active a::after {
  position: absolute;
  /* left: 205px; */
  width: 12px;
  height: 2px;
  background: black;
  display: block;
  content: "";
  border-radius: 1px;
}
.action .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ========================hero-left============================ */
.hero {
  padding-top: 56px 0px 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .content-block {
  width: 52%;
}
.hero .hero-samurai {
  padding: 20px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
}
.hero-samurai .item {
  display: flex;
  align-items: center;
}
.hero-samurai .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}
.hero-samurai .icon2 {
  background: #fcefff;
}
.hero-samurai .icon3 {
  background: #ebeaff;
}
.hero-samurai .info {
  margin-left: 16px;
}
.hero-samurai .tabel {
  color: #5f5b53;
  font-size: 1rem;
  line-height: 1.86;
}
.hero-samurai .title {
  color: #171100;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.67;
}
/* ==============hero-right=========== */
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .ct-group {
  align-items: center;
  margin-top: 38px;
  display: flex;
}
.hero .desc {
  margin-top: 20px;
  color: #5f5b53;
  font-size: 1.1rem;
  line-height: 1.67;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  display: flex;
  background: transparent;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .desc {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 10px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* ============popular========== */
.popular {
  margin: 65px 0px;
  margin-top: 135px;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1rem;
  line-height: 1.67;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .controls {
  display: flex;
  gap: 18px;
}
.popular-top .controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .controls-btn:hover {
  background: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}
/* =================popular course=========== */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item .thumb {
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  width: 100%;
}
.popular .course-item .info {
  padding: 16px 22px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .raling,
.popular .course-item .head {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.popular .course-item .title {
  color: #171100;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .raling .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75;
}
.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1rem;
  line-height: 1.86;
}
.popular .course-item .foot {
  margin: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}
.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}
/* ===============feedback=========== */
.feedback {
  margin-top: 135px;
  padding: 96px 0px;
  background: #2e2100;
}
.feedback-item {
  display: flex;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.42;
}
.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1rem;
  line-height: 1.86;
}
.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  color: #fff;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.54;
}
/* ============features1=========== */
.features {
  margin-top: 135px;
  padding: 65px 0px;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.features .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1rem;
  line-height: 1.75;
}
.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primary-color);
}
/* ============features2=========== */
.features-nd2 .body {
  flex-direction: row-reverse;
}
.features-nd2 {
  margin-top: 70px;
}
.features-nd2 .content {
  width: 48%;
}
.features-nd2 .images img {
  width: 470px;
  height: 440px;
}
